* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  margin: 0 auto;
}

.active {
  font-weight: bold;
}

.navList {
  list-style-type: none;
}


nav li {
  display: inline-block;
  padding: 0.5rem 1rem;
}

nav {
  background-color: #E0D9FF;
  border-top: 2px solid #504970;
  border-bottom: 2px solid #504970;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.main-content {
  background-color: aliceblue;
  border: 3px solid black;
  margin: 5px; 
  padding: 10px 15px;
  line-height: 0.75rem;
  border-radius: 10px;
}

.home-image {
  height: 250px;
  width: auto;
  margin: 20px;
  border-radius: 10px;
}

.header {
  text-align: center;
  font-size: 2rem;;
}

.event-form {
  background-color: aliceblue;
  border: 3px solid black;
  margin: 5px; 
  padding: 10px 15px;
  line-height: 0.75rem;
  border-radius: 10px;
}

.mydetails {
  background-color: aliceblue;
  border: 3px solid black;
  margin: 5px; 
  padding: 10px 15px;
  line-height: 0.75rem;
  border-radius: 10px;
}

input {
  margin: 10px 5px;
  width: 98%
}

textarea {
  width: 98%;
  height: 50px;
}

select {
  margin: 10px 5px;
  width: 98%
}


.dog-card {
float: left;
background-color: aliceblue;
  border: 3px solid black;
  /* width: 375px; */
  width: 29%;
  margin: 5px; 
  padding: 10px 15px;
  line-height: 0.75rem;
  border-radius: 10px;
}

.card-image {
  border: 3px solid black;
  width: auto;
  height: 300px;
  margin-right: 25px;
  border-radius: 10px;
}


.poster {
  background-color:aliceblue;
  width: 800px;
  border: 3px solid black;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.poster-content {
text-align: center;
padding: 25px;
}

ul {
  list-style-type: none;
}

.poster-image {
  float:left;
}

.poster-title {
  font-size: 4rem;
  
}

.poster-image {
  border: 3px solid black;
  width: 175px;
  height: 175px;
  margin-right: 25px
}

.poster-host {
  color: #504970;
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 3px solid #504970;
}

.poster-times {
  line-height: 1rem;
  font-size: 1rem;
}

.poster-notes {
  border-bottom: 3px solid #504970;
  font-style: italic;
}

.poster-times {
  color: rgb(77, 75, 75);
}

.poster-start {
  color: red;
}

.poster-events {
  line-height: 0.5rem;
  margin:1rem;
}

.poster-event-title {
  font-size: 2rem;
  text-decoration: underline;
}

.show-card {
background-color: aliceblue;
  border: 3px solid black;
  width: 97%;
  margin: 5px; 
  padding: 10px 15px;
  border-radius: 10px;
}

button {
  font-size: 1rem;
  margin: 0.25rem;
  background-color: #E0D9FF;
  border-radius: 10px;
  border-width: 1px;
}

.wide-button {
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
}

.event-checkboxes {
  width: 50%;
}

.checkboxes {
  margin: 10px 5px;
  width: 20%
}