* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  /* width: 80%; */
  /* margin: 50px; */
}

.active {
  font-weight: bold;
}

.navList {
  list-style-type: none;
  
}
a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 0 1rem;
  
}

nav {
  background-color: black;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.body-content {
  background-color: black;
  color:white;
  border: 3px solid black;
  margin: 20px; 
  padding: 10px 15px; 
  line-height: 0.75rem;
  border-radius: 10px;
}

.home-image {
  display: inline-block;
  height: 250px;
  width: auto;
  margin: 20px;
  border-radius: 10px;
}

.header {
  text-align: center;
  font-size: 2rem;
  color: #dfff4f;
}

form {
  background-color: black;
  border: 2px solid black;
  margin: 5px; 
  padding: 10px 15px;
  line-height: 2rem;
  border-radius: 10px;
  color:white;
}

.mydetails {
  background-color: white;
  /* border: 2px solid black; */
  margin: 5px; 
  padding: 10px 15px;
  line-height: 0.75rem;
  border-radius: 10px;
}

input {
  margin: 10px 5px;
  width: 98%
}

textarea {
  width: 98%;
  height: 50px;
}

select {
  margin: 10px 5px;
  width: 98%
}


.dog-card {
/* float: left; */
background-color: white;
  margin: 5px; 
  padding: 10px 15px;
  line-height: 0.75rem; 
  border-radius: 10px;
}

.card-image {
  display:flex;
  border: 1px solid black;
  width: auto;
  height: 500px;
  margin-right: 25px;
  border-radius: 10px;
  vertical-align: middle;
}

button {
  font-size: 1rem;
  margin: 0.5rem !important;
  padding: 0.75rem;
  background-color: #dfff4f;
  color: black;
  border-radius: 10px;
  border-width: 1px;
  border: none;
}

.event-checkboxes {
  width: 50%;
}

.checkboxes {
  margin: 10px 5px;
  width: 20%
}


/* Poster */
.poster {
  background-color:white;
  width: 800px;
  border: 3px solid black;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.poster-content {
text-align: center;
padding: 25px;
}

ul {
  list-style-type: none;
}

.poster-image {
  float:left;
}

.poster-title {
  font-size: 4rem;
  
}

.poster-image {
  border: 3px solid black;
  width: 175px;
  height: 175px;
  margin-right: 25px
}

.poster-host {
  color: #504970;
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 3px solid #504970;
}

.poster-times {
  line-height: 1rem;
  font-size: 1rem;
}

.poster-notes {
  border-bottom: 3px solid #504970;
  font-style: italic;
}

.poster-times {
  color: rgb(77, 75, 75);
}

.poster-start {
  color: red;
}

.poster-events {
  line-height: 0.5rem;
  margin:1rem;
}

.poster-event-title {
  font-size: 2rem;
  text-decoration: underline;
}
